MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/?appName=firstCluster
MONGODB_DB=pcollab-quality
SEARCH_INDEX_NAME=vendorDetails-lucene
COLLECTION_NAME=omOrgVendorDetails
CORS_ORIGINS=http://localhost:4000
